<nav class="w-full absolute top-0 left-0 z-10">
    <div class="flex flex-col w-full justify-between items-center relative">
        <div class="flex flex-row w-full justify-between items-center py-6 hero-fluid-px">
            <div class="logo">
                <a href="index.html" class="flex gap-4 group justify-center items-center">
                        <div class="bg-black h-10 w-10 flex items-center justify-center">
                        <img class="h-8 w-8" src="./assets/icons/jf-logo.svg" alt="JAY FORD">
                        </div>
                    <span class="font-serif text-[32px]">Jay Ford</span>
                </a>
            </div>

            <div class="flex flex-row gap-6 items-center justify-center">
                <div class="flex h-full bg-black text-white px-3 py-3 hidden lg:block ">
                    <p class="font-mono text-base bg-black text-white max-sm:text-xs max-sm:w-[330px] items-center justify-center h-full">[ STATUS: INTERNING / OPEN FOR PROJECTS 2026 ]</p>
                </div>
                <button id="menu" class="font-mono px-3 py-3 border z-11 cursor-pointer">[ MENU ]</button>
            </div>
        </div>

        <div id="nav-container" class="fixed top-0 right-0 flex flex-row h-[100vh] w-[100vw]">
            <div id="navcol1" class="hidden md:block md:w-1/2 bg-black flex flex-grow p-6">
                <div class="border-2 border-white h-full w-full px-6 py-6 gap-3 flex flex-col justify-end">
                    <a href="" class="flex gap-4 invert items-center">
                        <div class="bg-black h-10 w-10 flex items-center justify-center">
                        <img class="h-8 w-8" src="./assets/icons/jf-logo.svg" alt="JAY FORD">
                        </div>
                        <span class="font-serif text-[32px]">Jay Ford</span>
                    </a>
                    <h1 class="font-serif subnav-display text-white">DIGITAL DESIGNER</h1>
                    <p class="font-mono text-white text-xs lg:text-base">© 2026 JAY FORD. ALL RIGHTS RESERVED</p>
                </div>
            </div>
            <div id="navcol2" class="bg-white flex flex-col items-center justify-end w-[100vw] md:w-1/2 px-6 py-6 gap-10">
                <div class="flex flex-col w-full gap-4">
                    <p class="font-mono text-base">MENU</p>
                        <div class="flex flex-col">
                            <ul class="flex flex-col gap-0 border-t">
                                <li><a href="index.html" class="font-mono text-4xl">
                                        <div class="border-b py-3"><h1 class="font-mono text-4xl" >HOME</h1></div>
                                </a></li>
                                <li><a href="about.html" class="font-mono text-4xl">
                                        <div class="border-b py-3"><h1 class="font-mono text-4xl" >ABOUT ME</h1></div>
                                </a></li>
                                <li><a href="works.html" class="font-mono text-4xl">
                                        <div class="border-b py-3"><h1 class="font-mono text-4xl" >GALLERY</h1></div>
                                </a></li>
                                <li><a href="" class="font-mono text-4xl">
                                        <div class="border-b py-3"><h1 class="font-mono text-4xl" >CONTACT ME</h1></div>
                                </a></li>
                            </ul>
                        </div>
                </div>

                <div class="flex flex-col w-full gap-4">
                    <p class="font-mono text-base">ALTERNATE CHANNELS</p>
                    <div>
                        <ul class="flex flex-row gap-2">
                            <li class="px-3 py-3 border text-center w-full"><a href="" class="font-mono text-xs">[INSTAGRAM]</a></li>
                            <li class="px-3 py-3 border text-center w-full"><a href="" class="font-mono text-xs">[GITHUB]</a></li>
                            <li class="px-3 py-3 border text-center w-full"><a href="" class="font-mono text-xs">[BEHANCE]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>






